<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bakpao Gacor</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <div
      class="flex justify-center justify-items-center w-full h-full flex-col"
    >
      <div class="flex justify-center p-3">
        <h1 class="font-bold">Bakpao Pricelist</h1>
      </div>

      <div>
        <form
          method="POST"
          action="/login"
          class="bg-red w-full flex justify-center"
        >
          <div class="flex justify-center flex-col">
            <input
              name="password"
              type="password"
              placeholder="Admin Password"
              class="px-3 py-2 text-xs w-40 outline rounded-md outline-gray-300"
            />

            <button
              class="w-full bg-blue-400 rounded-md mt-4 p-1 text-white font-medium"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
